body
{
  margin: 0px;
}
.box
{

  position: relative;
  top:100px;
}
.div{
  width: 1550px;
  background-color:rgb(59,89,154);
  height: 46px;
  position: fixed;

}

.el
{
  height: 20px;
  width: 350px;
  position: fixed;
  padding: 4px;
  padding-left: 10px;
  padding-right: 100px;
  top:6px;
  left: 150px;
  background-color: white;
  border-radius: 5px
}
.sr {

  position: fixed;

  top:8px;
  left: 600px;
  border: none;
  border-radius: 1px 4px 4px 1px;



}
.icon
{
  background-color: rgb(59,89,154);
  border: 0px;
  position: fixed;
    top:8px;
  left: 110px;
}
.icon:hover
{
  color: white;
}

.msg
{
  border: 0px;
  background-color: rgb(59,89,154);

  position: fixed;
  left: 1100px;
  top: 10px;
}
.msg:hover{
color:white;
}
.req
{

  border: 0px;
  background-color: rgb(59,89,154);
  position: fixed;
  left: 1050px;
  top: 15px;
}
.req:hover
{
  color: white;
}
.log
{

  border: 0px;
  background-color: rgb(59,89,154);
  position: fixed;
  left: 1150px;
  top: 10px;
}
.log:hover
{
  color:white;
}
.pro
{

  border: 0px;
  background-color: rgb(59,89,154);
  position: fixed;
  left: 950px;
  top: 15px;
  font-size: 16px;


}
.pro:hover
{
  color:white;
}
.div2{
  display: inline-block;
  position:fixed;
  left: 1100px;
  top: 10px;
}
.reqextend
{
  display: inline-block;
  width: 500px;
  height:200px;
  position: absolute;
  top:50px;
  left: 950px;
  border: solid 1px;
  box-shadow: 0px 1px 1px 1px;

}

#msgextend
{
  width: 500px;
  height:300px;
  position: absolute;
  top:50px;
  left: 1000px;
  border: solid 1px;
  box-shadow: 0px 1px 1px 1px;
}
#testqq
{
    color: blue;
    
    
}
.butt2
{
    background-color: blue;
    color: white;
    display: block;
   padding: 4px;
}
